/* Created XX April XXXX
Last update April XX:  */

:root {
  --zI-1: 1;
  --zI-2: 2;
  --zI-3: 3;
  --zI-4: 4;
  --zI-5: 5;

  /* --z-nav: var(--zI-2); 100 */
}

* {
  box-sizing: border-box;
}

/*--- General ---*/

html {
  font-size: 62.5%;
  background: rgba(23, 110, 191, 0.6);
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.6;
  color: #444;
  display: flex;

  flex-wrap: wrap;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(46, 46, 46);
  font-size: 1.6rem;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #80b532;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: white;
  transition: transform 0.5s ease;
}

.add:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease;
}

.note {
  background-color: white;
  margin: 1rem 3rem;
  height: 400px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.451);
}

.tools {
  background-color: #80b532;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.7rem;
}

.tools button {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 1rem;
}

.tools button:last-child {
  color: #444;
}

/* EL ESPACIO QUE OCUPA EL TEXTAREA ES EL MISMO QUE LA TABLA COMO TAL */
.note textarea {
  outline: none;
  font-family: inherit;
  font-size: 1.8rem;
  border: none;
  height: 363px;
  resize: none;
  border-radius: 10px;
  width: 350px;
  padding: 20px;
}

.main {
  padding: 20px;
}

.hidden {
  display: none;
}

.delete,
.edit {
  transition: transform 0.1s ease;
}
.delete:hover,
.edit:hover {
  transform: scale(1.2);
  transition: transform 0.1s ease;
}

@media (max-width: 600px) {
  .note:first-of-type {
    margin-top: 6rem;
  }

  .note {
    height: 250px;
    margin: 2rem auto;
  }

  .note textarea {
    height: 210px;
  }
}
